{% extends 'base.html' %} {% block content %}

{% if object %}
<h1>Edit <span class="red-text text-darken-4">{{ object.label }}</span></h1>
{% else %}
<h1>Add Recipe</h1>
{% endif %}
<hr />

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Submit" class="click add btn red darken-4" />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}