{% extends 'base.html' %} {% block content %}

<h1>{{ recipe.label }}</h1>
<hr />

<div class="card">
    <div class="card-content">
        <p class="right"><b>Meal Type: </b>{{ recipe.mealtype }}</p>
        <div class="right">
            <img src="{{ recipe.image }}">
        </div>
        <p><span class="card-title"><b>Ingredients: </b></span>{{ recipe.ingredients }}</p>
        <table class="striped">
            <thead>
                <tr>
                    <th>Instructions:</th>
                </tr>
            </thead>
            <tbody>
                {% for instruction in recipe.instruction_set.all %}
                <tr>
                    <td>{{ instruction.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}