{% extends 'base.html' %} {% block content %}

<h1>{{ recipe.label }}</h1>
<hr />

<div class="card">
    <div class="card-content">
        <p class="right"><b>Meal Type: </b>{{ recipe.mealtype }}</p>
        <div class="right">
            <img src="{{ recipe.image }}">
        </div>
        <p><span class="card-title"><b>Ingredients: </b></span>{{ recipe.ingredients }}</p>
        <table class="striped">
            <thead>
                <tr>
                    <th>Instructions:</th>
                </tr>
            </thead>
            <tbody>
                {% for instruction in recipe.instruction_set.all %}
                <tr>
                    <td>{{ instruction.step }}. {{ instruction.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-action">
        <a href="{% url 'recipe_update' recipe.id %}">Edit</a>
        <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <form action="{% url 'add_instruction' recipe.id %}" method="post">
                    {% csrf_token %} {{ instruction_form.as_p }}
                    <input type="submit" class="btn" value="Add Instruction" />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}