{% extends 'base.html' %} {% block content %}

<h1>About COOKmarked</h1>
<hr />
<br />
<div class="row">
    <div class="col s7">
        <p>
            I have always had trouble keeping track of recipes I have used and enjoyed,
            especially since there just seems to be an infinite amount available in the age
            of the internet. Writing it down on paper is outdated and it can easily be lost.
            Besides, would you really want to have to write all that information down?
        </p>
        <br />
        <p>
            A great way to keep track of recipes you like is to simply bookmark the website
            in your browser! The trouble with that is that if you made any tweaks or
            adjustments to the recipe (like adding/removing ingredients, changing the amount,
            etc) you'll have to remember how you changed it next time you make it!
        </p>
        <br />
        <p>
            In comes COOKmarked! A simple-to-use way to keep track of recipes that you come
            across and create. Take it anywhere with it's mobile-friendly design! It also
            makes it incredibly easy to share with friends and family simply by sending a link!
            Don't like a recipe? Change or delete it with a few clicks! You can also look at
            a universal list of recipes to see what other users are making!
        </p>
        <br />
        <p>
            A simple solution for a minor problem, but it will hopefully reduce a lot of
            headaches for all the cooks and bakers out there!
        </p>
    </div>
    <div class="col s5">
        <div class="card hoverable">
            <div class="card-content">
                <p><span class="card-title center-align"><b><u>About the Creator</u></b></span></p><br />
                <div class="row">
                    <div class="col s2"></div>
                    <div class="col s8">
                        <img src="https://images2.imgbox.com/05/6b/e80xaMG8_o.jpg" class="responsive-img circle center-align">
                    </div>
                    <div class="col s2"></div>
                </div>
                <div class="row">
                    <div class="col s2"></div>
                    <div class="col s2"></div>
                    <div class="col s2"><a href="https://github.com/earlytuesdaymorning"><img src="https://images2.imgbox.com/02/14/wfnqJPgI_o.png" class="hoverable responsive-img circle"></a></div>
                    <div class="col s2"><a href="https://www.linkedin.com/in/mariah-hernandez-a68514154/"><img src="https://images2.imgbox.com/23/1e/gch6KFAI_o.png" class="hoverable responsive-img circle"></a></div>
                    <div class="col s2"></div>
                    <div class="col s2"></div>
                </div>
                <p>
                    I have been interested in coding since I was a teenager, teaching
                    myself HTML and CSS in my room so I can make my social media pretty.
                    After losing my home in New Jersey, I moved back to where I came
                    from in Arizona and decided to follow my passion in tech.
                </p>
                <br />
                <p>
                    In addition to my interest in coding and tech, I
                    <span class="red-text text-darken-4"><i>love</i></span> to bake.
                    This project of mine is something that I personally needed to keep
                    my life a little more organized. Though, I am super excited to share it!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}