* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

main {
    flex: 1 0 auto;
}

hr {
    height: 1.5px;
    background-color: rgb(189, 165, 165);
    border: none;
}

nav {
    background-color: rgb(173, 22, 22);
}

footer {
    padding-top: 0;
    text-align: right;
    background-color: rgb(173, 22, 22) !important;
}